[submodule "themes/hugo-tania"]
	path = themes/hugo-tania
	url = https://github.com/WingLim/hugo-tania
[submodule "themes/hugo-creative-porfolio-theme"]
	path = themes/hugo-creative-porfolio-theme
	url = https://github.com/kishaningithub/hugo-creative-portfolio-theme.git
