name: gh pages
on:
  push:
    branches: 
      - "main"
jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - name: setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.110.0'

      - name: build
        run: hugo --minify

      - name: commit changes
        uses: EndBug/add-and-commit@v7
        with:
          author_name: bot
          author_email: thom.blizz@gmail.com
          message: 'updating landing page'
          add: '*'

      - name: deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          cname: www.7onn.dev
